QPushButton {
    background-color: #aacfa3;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}

QPushButton:hover {
    background-color: #9ac093;
}

QPushButton:pressed {
    background-color: #88b58a;
    border-style: inset;
}

#btn_reset {
    background-color: #f60025;
}

#btn_reset:hover {
    background-color: #df0020;
}

#btn_reset:pressed {
    background-color: #c80012;
    border-style: inset;
}

#btn_delete_row {
    background-color: #f60025
}

#btn_delete_row:hover {
    background-color: #e63025;
}

#btn_delete_row:pressed {
    background-color: #c80012;
    border-style: inset;
}

QLineEdit {
    color: #111100;
    background-color: #fcfbbd;
    selection-color: rgb(173, 173, 28);
    selection-background-color: rgb(30, 30, 114);
    height: 24px;
    font-size: 16px;
}

*[mandatoryField="true"] {
    background-color: #def7cd;
}

QTabWidget:pane {
  border: 1px solid lightgray;
  top:-1px;
  background: rgb(245, 248, 250);
  padding: 10px;
}

QTabBar::tab {
  background: rgb(230, 230, 230);
  border: 1px solid lightgray;
  padding: 5px;

}

QTabBar::tab:selected {
  background: rgb(245, 245, 245);
  margin-bottom: -4px;
}