QPushButton {
    background-color: #CBE8B8;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 8em;
    padding: 6px;
}

QPushButton:hover {
    background-color: #CDD8E6;
}

QPushButton:pressed {
    background-color: #90EE90;
    border-style: inset;
}


#btn_delete_row, #btn_reset {
    background-color: #f60025
}

#btn_delete_row:hover, #btn_reset:hover {
    background-color: #EDD8E6;
}

#btn_delete_row:pressed, #btn_reset:pressed {
    background-color: #c80012;
    border-style: inset;
}


#btn_save_changes {
    background-color: #F1C107; /* амбер цвет */
}

#btn_save_changes:hover {
    background-color: #FFCA48; /* светлый амбер цвет */
}

#btn_save_changes:pressed {
    background-color: #FFA000; /* темный амбер цвет */
}

QLineEdit {
    color: #111100;
    background-color: #fcfbbd;
    selection-color: rgb(173, 173, 28);
    selection-background-color: rgb(30, 30, 114);
    height: 24px;
    font-size: 16px;
}

*[mandatoryField="true"] {
    background-color: #def7cd;
}

QTabWidget:pane {
  border: 1px solid lightgray;
  top:-1px;
  background: rgb(245, 248, 250);
  padding: 10px;
}

QTabBar::tab {
  background: rgb(230, 230, 230);
  border: 1px solid lightgray;
  padding: 5px;

}

QTabBar::tab:selected {
  background: rgb(245, 245, 245);
  margin-bottom: -4px;
}